extends layout

block content

  h1 Git Browser
  
  p Browse GitHub projects in thumbnail view.
  
  p Currently supports JPG, PDF, PNG and SVG.
  
  h2 Available projects

  ul.list
    each value, name in owners
      each repo in value.repos
        li
          a(href="/#{name}/#{repo}") #{name} - #{repo}
          
  p A project by <a href="https://twitter.com/joelanman">Joe Lanman</a>
