extends layout

block content

  h1 Git Browser
  
  p Browse GitHub projects in thumbnail view.
  
  p Currently supports JPG, PDF, PNG and SVG.
  
  h2 Available projects

  ul.list
    each repo in repos
      li
        a(href="/#{repo.owner}/#{repo.name}") #{repo.owner} - #{repo.name}
          
  p A project by <a href="https://twitter.com/joelanman">Joe Lanman</a>
