doctype html
html

  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    header.main-header
      span.site-name
        a(href="/") Git browser
      span.breadcrumbs
        block breadcrumbs
        
    .content
      block content
