html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 19px sans-serif;
  background: #F0F0F0;
}

h1{
  font-size: 40px;
}

a {
  color: #00B7FF;
}

ul.list{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.list li{
  padding: 0.3em 0;
}

.main-header{
  padding: 20px;
  background: #fff;
}

.main-header a{
  text-decoration: none;
}

.main-header .arrow{
  display: inline-block;
  padding: 0 0.6em;
}

.content{
  padding: 20px;
}

.files{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.file{
  width: 120px;
  margin: 10px;
  text-align: center;
}

.file p{
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #333;
}

a.file{
  text-decoration: none;
  color: inherit;
}

.icon{
  display: inline-block;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: bottom;
}

.icon.generic{
  background-image: url(/images/file-icon.png);
  background-size: 80px;
}

.icon.folder{
  background-image: url(/images/folder-icon.png);
  background-size: 120px;
}

.thumbnail2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  vertical-align: bottom;
}

.thumbnail2 img{
  display: inline-block;
  max-width: 120px;
  max-height: 120px;
}

@media (min-width: 1024px) {

  .file{
    width: 220px;
    margin: 20px;
    text-align: center;
  }

  .file p{
    width: 220px;
    font-size: 16px;
  }

  .icon{
    width: 220px;
    height: 220px;
  }

  .icon.generic{
    background-size: 140px;
  }

  .icon.folder{
    background-size: 200px;
  }

  .thumbnail2{
    width: 220px;
    height: 220px;
  }

  .thumbnail2 img{
    max-width: 220px;
    max-height: 220px;
  }
}
